.card-wrapper {
    border: 1px dashed black;
    background-color: #3686d1;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;

}

.card-wrapper:hover {
    background-color: aqua;
    color: black;
}

.player-info {
    display: flex;
    align-content: center;
    justify-content: center;
}

